body {
	background-color: black;
	border-style: double;
	border-color: White;
	border-width: 5px; 
	padding: 20px 20px 20px 20px;
	margin-left: 10%;
	margin-right: 10%;
}
#text {
	display: block;
	color: white;
	font-family: veranda;
	text-align: center;
	margin-top: 1cm;
	line-height: 1;
}
img {
	display: block;
	margin: 0 auto;
	margin-top: 2cm;
	width: 80%;
}
